

.nav{
    margin-top: 0px;
    list-style: none;
    display: inline-flex;
    height: 50px;
    width: 100%;
    align-items: center;
    color:  #F7C5CC;
    flex-wrap: wrap;
    float: right;
    position: fixed;
    background:  linear-gradient(to right, #C33764, #1D2671),100%;
    /* background-color:  rgb(88, 80, 80); */
    box-shadow: 1px 1px 3px rgb(49, 47, 47);
}

.list-item{
    text-align: center;
    margin: 0px 15px;
    transition: all 0.5s ease-in-out; 
}
.navtext{
    align-items: start;
    vertical-align: text-top;
}
.list-item, a:hover{
    color: #f3485f;
    text-shadow: 2px #f3485f;
    cursor: pointer;
}

#last-list-item{
    margin-right: 40px;
}


.svg-span {
    align-items: baseline;
    display: inline-block;
    width: 20px;  /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    margin-right: 8px; /* Space between icon and text */
    background-size: contain; /* Ensure the icon scales correctly */
    background-repeat: no-repeat; /* Prevent repeating the icon */
}

.profile-icon {
    background-image: url("../img/svg/person.svg");
}

.skillset-icon {
    background-image: url("../img/svg/skill.svg");
}

.services-icon {
    background-image: url("../img/svg/services.svg");
}

.projects-icon {
    background-image: url("../img/svg/projects.svg");
}

.contact-icon {
    background-image: url("../img/svg/contact.svg");
}
.java-icon {
    background-image: url("../img/svg/javaheading.svg");
}
.cert-icon {
    background-image: url("../img/svg/certification.svg");
}
a{
    text-decoration: none;
    color:  #F7C5CC;
    transition: all 0.5s ease-in-out ;

}

@media screen and (max-width:907px) and (min-width:770) {
#last-list-item{
    margin-right: 5px;
}
.list-item{
    margin: 5px;
}
}
@media screen and (max-width:770px) {
#last-list-item{
    margin-right: 5px;
}
.list-item{
    margin: 5px;
}
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #C33764, #1D2671);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

nav .logo h1 {
  font-size: 1.3rem;
  background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #F7C5CC;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #f5f5f5;
  color: #000;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: #1f1f1f;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

.menubar {
  position: absolute  ;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background: linear-gradient(to right, #C33764, #1D2671);
  transition: all 0.5s ease-in;
  z-index: 2;
}

.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}

.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  text-decoration: none;
  color: #F7C5CC;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
}

.menubar ul li a:hover {
  background-color: #f5f5f5;
  color: #000;
}

@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }
  nav ul {
    display: none;
  }
}

