.container {
    margin: 0 5%;
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
    min-height: 100vh;
}
.text {
    width: 40%;
    height: auto;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-variation-settings: "wdth" 100;
    font-size: large;
    font-style: italic;
}

.bg-img {
    height: auto;
    width: 60%;
    margin: 0 5%;
    background-image: url("../img/CoderBoy2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    display: flex;
    visibility: visible;
}

.max-heading {
    font-family: "Sedan SC", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 75px;
    text-shadow: 3px 3px 5px gray;
}

#changing-text {
    color: #d66814;
    transition: opacity 0.5s ease-in-out;
    text-shadow: 2px 2px 2px #773b0d ;
    font-size: x-large;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

#img{
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: flex;
    justify-self: center;
    align-items: center;
    align-content: center;
}

#name{
    display: flex;
    visibility: visible;
}

@media screen and (max-width:1205px) {
    .container{
        flex-direction: column;
        
    }
    .text{
        width: 100%;
        height: auto;
    }
    .bg-img{
        visibility: hidden;
        width: 0;
        height: 0;
    }
    #img{
        visibility: visible;
        width: 100%;
        max-width: 400px;
        height: 60%;
        max-height: 400px;
        margin: 0;
        padding: 0;
        display: flex;
        align-self: center;
    }
    .max-heading{
        visibility: hidden;
        font-size: 0;
        font-weight: 0;
    }
    #name{
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    .max-heading {
      font-size: 50px;
      margin-left: 50px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .max-heading {
      font-size: 30px;
      margin-left: 30px;
    }
  }