.container{
    display: flex;
    width: 100%;
    height: 30%;
    min-height: 300px;
    
    display: flexbox;
}
.services{
    width: 30%;
    height: 75%;
    align-self: center;
    justify-content: center;
    margin: 5% 1.4%;
    border-radius: 15px;
    display: flow-root;
    padding: 15px;
    transition-duration: 0.4s;
}
.services:hover{
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 3px 3px 3px 3px rgb(223, 200, 200);

}

.service-btn{
    float: right;
    width: 200px;
    height: 40px;
    font-size: large;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(124, 114, 114);
    transition-duration: 0.3s;
}

.service-btn:hover{
    box-shadow: 4px 4px 5px rgb(101, 93, 93);
    cursor: pointer;
    font-size: larger;
    transform: z;
}

.heading-margin{
    text-shadow: 2px 2px 4px rgb(101, 93, 93) ;
    font-weight: 700;
    
}


.service-para{
    margin-bottom: 30px;
}

@media screen and (max-width:700px) {
    .container{
        flex-direction: column;
    }
    .services{
        width: 80%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .max-heading {
      font-size: 50px;
      margin-left: 50px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .max-heading {
      font-size: 30px;
      margin-left: 30px;
    }
  }